{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        {% if error_message %}
            <div class="error">{{ error_message }}</div>
        {% endif %}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
